* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cat-list-container {
  width: 30%;
  float: left;
  border-right: 1px solid #ccc;
}

.cat-list {
  list-style: none;
}

.cat {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.cat:hover {
  background-color: #ccc;
  color: #fff;
}

.cat-preview {
  width: 65%;
  float: right;
}

.cat-box {
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  position: relative;
  text-align: center;
  max-width: 600px;
}

.cat-box img {
  max-width: 600px;
}

.floating-label {
  padding: 10px;
  background-color: #000;
  color: #fff;
  opacity: 0.6;
  margin: 5px;
  border-radius: 5px;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 20px;
}

.bottom-right {
  position: absolute;
  right: 10px;
  bottom: 20px;
}
